
 
 <div class="space"></div>

 
 
 <div class="view">

 <div class = "car-card">
    <div class="image-gallery">
      <% if @car.images.present? %>
        <%= image_tag url_for(@car.images.first.url), class: "main-image", id: "mainImage" %>

        <div class="thumbnails">
          <% @car.images.each_with_index do |image, index| %>
          <%= image_tag url_for(image.url), class: "thumbnail #{'active' if index == 0}", onclick: "changeImage(this)" %>
          <% end %>
        </div>

      <% else %>
        <p>No images available for this car.</p>
      <% end %>
    </div>

      <div class="car-info-card">
        <h2><%= @car.car_make %> <%= @car.car_model %></h2>
        <p><strong>Year:</strong> <%= @car.year %></p>
        <p><strong>Price:</strong> <%= number_to_currency(@car.price) %></p>
        <p><strong>Mileage:</strong> <%= @car.miles %> miles</p>
        <p><strong>Description:</strong> <%= @car.description %></p>
  
        <div class="btn">
          <%= link_to 'Go to Listing', @car.link, class: "link-btn", target: '_blank', rel: 'noopener' %>
        </div>

      </div>
  </div>
</div>

<style>
    .car-card { 
        width: 90%;
        max-width: 1200px;
        height: 80%;
        background-color: #E1E2E1;
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding: 20px;
        border-radius: 24px;
    }
@media (max-width: 768px){
.view{
    height: auto;

}
  .car-card{
    flex-direction:column;
    height:auto;
    width: 80%;
    padding: 0;
    margin: 20px;
  }

  .thumbnail {
    /* override the fixed px width with a calc for 2 per row */
    flex: 0 0 calc(50% - 10px); 
    width: calc(50% - 10px);
    /* height can stay your 80px, or switch to auto/aspect-ratio if you like */
    height: 80px;
  }
  .image-gallery{
    flex:0 0 100%;
    max-width:100%;
    height: auto;
  }
  .car-info-card{
    margin-top:20px;
    width: 90%;
    min-height: 400px;
  }
}


</style>
<script>
  function changeImage(el) {
    const mainImage = document.getElementById("mainImage");
    mainImage.src = el.src;

    document.querySelectorAll('.thumbnail').forEach(thumb => {
      thumb.classList.remove('active');
    });
    el.classList.add('active');
  }
</script>
