
 <div class="view">
  <div class="page-nav" style = "max-width: 1400px;" >
    <div class="website-title" style="font-size: clamp(1.2rem, 2vw, 1.55rem);">
      <h1><%= link_to "ExoticEuro", root_path, style: "text-decoration: none; color: inherit;" %></h1>
    </div>

    <div class="page-title" style="">
      <h1>Car Details</h1>
    </div>
  </div>

 <div class = "car-card">
    <div class="image-gallery">
      <% if @car.images.present? %>
        <%= image_tag url_for(@car.images.first.url), class: "main-image", id: "mainImage" %>

        <div class="thumbnails">
          <% @car.images.each_with_index do |image, index| %>
          <%= image_tag url_for(image.url), class: "thumbnail #{'active' if index == 0}", onclick: "changeImage(this)" %>
          <% end %>
        </div>

      <% else %>
        <p>No images available for this car.</p>
      <% end %>
    </div>

      <div class="car-info-card">
        <h2><%= @car.car_make %> <%= @car.car_model %></h2>
        <p><strong>Year:</strong> <%= @car.year %></p>
        <p><strong>Price:</strong> <%= number_to_currency(@car.price) %></p>
        <p><strong>Mileage:</strong> <%= @car.miles %> miles</p>
        <p><strong>Description:</strong> <%= @car.description %></p>
  
        <div class="btn">
          <% if @car.link.present? %>
            <%= link_to 'Go to Listing', @car.link, class: "link-btn", target: '_blank', rel: 'noopener' %>
          <% else %>
            <%= link_to 'Contact Us', contact_path, class: "link-btn" %>
          <% end %>
        </div>

      </div>
  </div>
</div>

<style>

</style>
<script>
  function changeImage(el) {
    const mainImage = document.getElementById("mainImage");
    mainImage.src = el.src;

    document.querySelectorAll('.thumbnail').forEach(thumb => {
      thumb.classList.remove('active');
    });
    el.classList.add('active');
  }
</script>
