<section class = "contact">
  <div class = "page-nav">
    <%= link_to root_path,
            class: "website-title",
            style: "font-size: clamp(1.2rem, 2vw, 1.55rem); color: #e1e2e1; text-decoration: none; display: inline-block; cursor: pointer;" do %>
      <h1>ExoticEuro</h1>
    <% end %>

    <div class = "page-title">
      <h1>Contact us </h1>
    </div>
  </div>

  <div class = "contact-form-card">
    <%= form_with(url: send_email_path, method: :post, local: true) do |form| %>
      <div>
      <div class = "form-content">
        <div class="form-group">
          <div class="form-subgroup">
            <%= form.label :first_name, "First Name" %>
            <%= form.text_field :first_name, required: true, placeholder: "Enter your first name" %>
          </div>

          <div class="form-subgroup">
            <%= form.label :last_name, "Last Name" %>
            <%= form.text_field :last_name, required: true, placeholder: "Enter your last name" %>
          </div>
        </div>


        <div class="form-group">
        
          <div class="form-subgroup">
            <%= form.label :email, "Your Email" %>
            <%= form.email_field :email, required: true, placeholder: "you@example.com" %>
          </div>

          
          <div class="form-subgroup">
            <%= form.label :phone, "Your Phone" %>
            <%= form.telephone_field :phone, required: true, placeholder: "(xxx)-xxx-xxxx" %>
          </div>
        </div>

        <div class = "wrapper">
          <%= form.label :message, "Message" %>
          <%= form.text_area :message, required: true, placeholder: "You got a car in mind? Tell us, let us find it for you...", rows: 5 %>
        </div>
        <%= form.submit "Send Message" %>
      </div>
      </div>
    <% end %>
  </div>
</section>


