<div class = "view">
  <section class = "contact">
    <div class = "page-nav">
      <div class = "site-title">
        <h1>ExoticEuro</h1>
      </div>

      <div class = "page-title">
        <h1>Contant us </h1>
      </div>
    </div>

    <div class = "contact-form-card">
      <%= form_with(url: send_email_path, method: :post, local: true) do |form| %>
        <div class = "form-content">
          <div class="form-group">
            <div class="form-subgroup">
              <%= form.label :first_name, "First Name" %>
              <%= form.text_field :first_name, required: true, placeholder: "Enter your first name" %>
            </div>

            <div class="form-subgroup">
              <%= form.label :last_name, "Last Name" %>
              <%= form.text_field :last_name, required: true, placeholder: "Enter your last name" %>
            </div>
          </div>


          <div class="form-group">
          
            <div class="form-subgroup">
              <%= form.label :email, "Your Email" %>
              <%= form.email_field :email, required: true, placeholder: "you@example.com" %>
            </div>

            
            <div class="form-subgroup">
              <%= form.label :phone, "Your Phone" %>
              <%= form.telephone_field :phone, required: true, placeholder: "(nnn)-nnn-nnnn" %>
            </div>
          </div>

          <div class = "wrapper">
            <%= form.label :message, "Message" %>
            <%= form.text_area :message, required: true, placeholder: "Write your message here...", rows: 5 %>
          </div>
          <%= form.submit "Send Message" %>
        </div>
      <% end %>
    </div>
  </section>
</div>



<style>


.view{          
  width: 100%;             
  display: flex;
  justify-content: center;
  align-items: center;    
  border: 2px solid green;
  overflow: hidden;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 20px;
  
  color: white;
}

.page-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 95%;
    max-width: 1200px;
    padding: 20px;
    gap: 20px;
}

.site-title {
  font-size: 1.75rem;
  flex: 1;
  text-align: center;

  background:  linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%), #000;
  border-radius: 56px;
}

.page-title {
  font-size: 1.75rem;
  text-align: center;

  flex: 2;
  background: #0D1B2A;
  border-radius: 56px;
}

/*********************************************************************/

.contact-form-card {
  background:  linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), #1B3B6F;
  width: 95%;
  max-width: 1200px;

  border-radius: 54px;
}

.contact-form-card .form-group {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 20px;
  
}

.form-group .form-subgroup {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form-content{
  margin: 40px;
  
  display: flex;
  flex-direction: column;
  
  padding: 20px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 20px;
}

</style>
