<div class = "view">
    <section class = "contact">  
        <div class = "section-header">
            <h1> Upgrade Your Ride Today</h1>
            <a>Simply fill out our quick online booking form below and we’ll take care of the rest. </a>
        </div>
        
      <div class="contact-options">
  <%= link_to "tel:#{User.find(1).phone}", class: "option-link" do %>
    <%= image_tag "phone.svg", alt: "Call us", class: "option-icon" %>
    <span class="contact-text">
      <span class="prefix">Call us at </span>
      <span class="value"><%= User.find(1).phone %></span>
    </span>
  <% end %>

  <%= link_to "mailto:#{User.find(1).contact_email}", class: "option-link" do %>
    <%= image_tag "email.svg", alt: "Email us", class: "option-icon" %>
    <span class="contact-text">
      <span class="prefix">Email us at </span>
      <span class="value"><%= User.find(1).contact_email %></span>
    </span>
  <% end %>

  <%= link_to "Book Consultation", contact_path, class: "book-btn", style: "margin-top: 3rem;"%>
</div>

    </section>
        

</div>

<style>
    .view{
        height: 100vh;           
        width: 100%;             
        display: flex;
        justify-content: center;
        align-items: center;    
        border: 2px solid green;
        overflow: hidden;
    }

    .contact{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #e1e2e1;
        text-align: center;
    }

  .option-link {
    margin: 1rem;

  display: flex;
  align-items: center;
  justify-content: left;
  gap: 1rem;
  height: 40px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), #1B3B6F;
  
  color: white;
  border: none;
  text-decoration: none;
  
  font-size: clamp(1rem, 3vw, 1.5rem);
  
  padding: clamp(0.5rem, 2vw, .6rem)clamp(1rem, 4vw, 1.5rem);
  border-radius: clamp(0.5rem, 5vw, 2.5rem);
  
  /* make sure the icon scales nicely */
  .option-icon {
    width: 2rem;
    height: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .option-link .prefix {
    display: none;
  }  
  .option-link .value {
    text-align: center;
    display: inline-block;
  }
}


</style>

