<div class = "section-grid">

      <%= link_to "#{User.find(1).location_link}", target: "_blank" do %>
        <%= image_tag Image.find_by(name: "location_image").url , alt: "Visit us", class: "map" %>
      <%end%>

      <div class="contact-options">
        <%= link_to "#{User.find(1).location_link}", class: "option-link", target: "_blank" do %>
          <%= image_tag "location.svg", alt: "Visit us", class: "option-icon" %>
          <span class="contact-text">
            <span class="prefix">Visit us at </span>
            <span class="value"><%= User.find(1).location %></span>
          </span>
        <% end %>

        <%= link_to "tel:#{User.find(1).phone}", class: "option-link" do %>
          <%= image_tag "phone.svg", alt: "Call us", class: "option-icon" %>
          <span class="contact-text">
            <span class="prefix">Call us at </span>
            <span class="value"><%= User.find(1).phone %></span>
          </span>
        <% end %>

        <%= link_to "mailto:#{User.find(1).contact_email}", class: "option-link" do %>
          <%= image_tag "email.svg", alt: "Email us", class: "option-icon" %>
          <span class="contact-text">
            <span class="prefix">Email us at </span>
            <span class="value"><%= User.find(1).contact_email %></span>
          </span>
        <% end %>
      
      </div>
    </div>
 
 
  