
<footer>
        <div class = "top-footer-section">
            <h2> <%= link_to 'Exotic Euro', root_path, class: "link" %></h2>
            <div class="social-media">
            
            <% if @user.facebook.present? %>
                <%= link_to @user.facebook, target: "_blank", rel: "noopener", class: "social-media-icon" do %>
                    <%= raw File.read(Rails.root.join("app", "assets", "images", "facebook-icon.svg")) %>
                <% end %>
            <% else %>
                <%= link_to "#", onclick: "alert('Facebook link hasn\\'t been added yet!'); return false;", class: "social-media-icon" do %>
                    <%= raw File.read(Rails.root.join("app", "assets", "images", "facebook-icon.svg")) %>
                <% end %>
            <% end %>

            <% if @user.instagram.present? %>
               <%= link_to @user.instagram, target: "_blank", rel: "noopener", class:  "social-media-icon" do %>
                    <%= raw File.read(Rails.root.join("app", "assets", "images", "instagram-icon.svg")) %>
                <% end %>
            <% else %>
                <%= link_to "#", onclick: "alert('Instagram link hasn\\'t been added yet!'); return false;", class: "social-media-icon" do %>
                    <%= raw File.read(Rails.root.join("app", "assets", "images", "instagram-icon.svg")) %>
                <% end %>
            <% end %>

            <% if @user.youtube.present? %>
                <%= link_to @user.youtube, target: "_blank", rel: "noopener", class: "social-media-icon" do %>
                    <%= raw File.read(Rails.root.join("app", "assets", "images", "youtube-icon.svg")) %>
                <% end %>
             <% else %>
                <%= link_to "#", onclick: "alert('Youtube link hasn\\'t been added yet!'); return false;", class: "social-media-icon" do %>
                    <%= raw File.read(Rails.root.join("app", "assets", "images", "youtube-icon.svg")) %>
                <% end %>
            <% end %>
            </div>

        </div>

        <div class = "middle-footer-section">
            <h3><%= link_to 'About Us', about_path, class: "link" %></h2>
            <h3><%= link_to 'Contact', contact_path, class: "link" %></h2>
            <h3><%= link_to 'Policy', policy_path, class: "link" %></h2>
        </div>

        <div class = "bottom-footer-section">
            <h4>© 2025 Exotic Euro. All rights reserved.</h4><%= content_tag :h4, class: 'dev-credit' do %>
  <%= link_to 'Developed by Stilyan',
              'https://www.stilyandimitrov.com',
              class: 'dev-credit-text',
              target: '_blank',
              rel: 'noopener noreferrer' %>
<% end %>

        </div>
</footer>