<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Exotic Euro" %></title>
    <% share_image       = image_url("social-preview.png", host: request.base_url) %>
    <meta property="og:image"       content="<%= share_image %>">
<meta property="og:image:width" content="1200">
<meta property="og:image:height"content="630">
    
    <meta name="viewport"
      content="width=device-width,initial-scale=1,viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="description"
      content="<%= content_for(:meta_description) || 'Exotic Euro offers affordable, factory-spec repairs and turnkey deals on luxury European cars. Book your consultation today!' %>">
    <!-- Default robots: index & follow -->
    <meta name="robots"
          content="<%= content_for?(:meta_robots) ? yield(:meta_robots) : 'index,follow' %>">

    <!-- Default canonical: self-referencing -->
    <link rel="canonical"
          href="<%= content_for?(:canonical_url) ?
                    yield(:canonical_url) :
                    (request.base_url + request.path) %>">

    <%= render 'layouts/local_business' %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

   <!-- app/views/layouts/application.html.erb -->

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>


  <%= render partial: 'layouts/navbar' %>

  <body>
    <%= yield %>
    <% flash.each do |key, message| %>
      <div class="flash-message <%= key %>">
        <div class="flash-content">
          <span><%= message %></span>
        </div>
      </div>
    <% end %>

  </body>

  <%= render partial: 'layouts/footer' %>
</html>
